.form {
  max-width: 570px;
  width: 100%;
  margin: 0 auto;

  &__group {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  &__input {
    min-width: 270px;
    width: 100%;
    min-height: 50px;
    padding: 0;
    margin: 0;
    border: 2px solid $darkGrayColor;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    background: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: $whiteColor;
    padding-left: 20px;
    outline: none;
    box-sizing: border-box;

    &::placeholder {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      color: $whiteColor;
    }
  }

  &__button {
    padding: 20px 30px;
    border-radius: 5px;
    background: $greenColor;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: $whiteColor;
    outline: none;
    cursor: pointer;
    border: none;
    width: 100%;

      &:hover {
        background-color: #22764a;
        transition: background-color .3s ease;
      }
  }
}

@media screen and (max-width: 768px) {
  .form {
    &__group {
      flex-wrap: wrap;
      gap: 0;
    }
  }
}