.header {
  &__container {
    width: 100%;
    padding: 0;
    display: flex;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: space-between;
  }

  &__logo-link {
    color: inherit;
    display: flex;
    gap: 16px;
    align-items: center;
    text-decoration: none;
  }

  &__navigation-block {
    display: flex;
    gap: 90px;
  }

  &__navigation {
    align-self: center;
  }

  &__img {
    width: 24px;
    height: 24px;
  }

  &__title {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    color: $whiteColor;

    &:hover {
      color: $linkHoverColor;
      transition: color .3s ease;
    }
  }

  &__search {
    margin: 0;
    padding: 5px 10px;
    border: none;
    height: 25px;
    background: $darkColor;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #757575;
    flex-basis: 248px;
    outline: none;

    &::placeholder {
      text-transform: uppercase;
    }
  }
}

// adaptive 

@media screen and (max-width: 1200px) {
  .header {
    &__container {
      width: 90%;
    }
  }
}

@media screen and (max-width: 900px) {
  .header {
    &__navigation-block {
      gap: 45px;
    }

    &__search {
      flex-basis: 200px;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    &__container {
      flex-direction: column;
      align-items: flex-start;
      width: auto;
      left: 0;
      right: 0;
      padding: 0 20px;
      transform: none;
    }

    &__title {
      line-height: 13px;
      font-weight: bold;
    }

    &__navigation-block {
      flex-direction: column;
      gap: 17px;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 18px;
    }

    &__navigation {
      align-self: inherit;
    }

    &__search {
      flex-basis: 0;
      width: 100%;
    }
  }
}