.popular {
  &__container {
    padding: 100px 0 0 ;
  }

  &__title {
    margin-bottom: 48px;
  }

  &__tracks {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 50px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 1200px) {
  .popular {
    &__container {
      padding: 100px 20px 0;
    }

    &__tracks {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .popular {
    &__tracks {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}