.similar {
  &__container {
    padding: 100px 0;
  }

  &__title {
    margin-bottom: 48px;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px 50px;
  }

  &__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;

    &:hover {
      opacity: .7;
      transition: opacity .3s ease;
    }
  }


  &__img {
    width: 250px;
    height: 250px;
  }

  &__item-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: $whiteColor;
    margin: 0;
    margin-top: 18px;
  }

  &__count {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: $grayColor;
    margin: 0;
  }
}

@media screen and (max-width: 1200px) {
  .similar {
    &__container {
      padding: 100px 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .similar {
    &__img {
      width: 137px;
      height: 137px;
    }

    &__link {
      max-width: 137px;
    }
  }
}