@import "_variables.scss";
@import "_general.scss";

// header

.header {
  &__container {
    width: 100%;
    padding: 0;
    display: flex;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: space-between;
  }

  &__logo-link {
    color: inherit;
    display: flex;
    gap: 16px;
    align-items: center;
    text-decoration: none;
  }

  &__navigation-block {
    display: flex;
    gap: 90px;
  }

  &__navigation {
    align-self: center;
  }

  &__img {
    width: 24px;
    height: 24px;
  }

  &__title {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    color: $whiteColor;

    &:hover {
      color: $linkHoverColor;
      transition: color .3s ease;
    }
  }

  &__search {
    margin: 0;
    padding: 5px 10px;
    border: none;
    height: 25px;
    background: $darkColor;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #757575;
    flex-basis: 248px;
    outline: none;

    &::placeholder {
      text-transform: uppercase;
    }
  }
}

.navigation {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;
    line-height: 0;
    align-items: center;
  }
  
  &__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    color: $darkGrayColor;

      &_active {
        color: $whiteColor;
      }

      &:hover {
        color: $linkHoverColor;
        transition: color .3s ease;
      }
  }
}

// hero section

.hero {
  &_background {
    background-image: url("../images/banner.png");
    background-position: center;
    background-size: cover;
  }

  &__title {
    text-align: center;
  }

  &__subtitle {
    text-align: center;
  }

  &__description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $whiteColor;
    padding: 0;
    margin: 31px 0 17px;
  }
}

// form

.form {
  max-width: 570px;
  width: 100%;
  margin: 0 auto;

  &__group {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  &__input {
    min-width: 270px;
    width: 100%;
    min-height: 50px;
    padding: 0;
    margin: 0;
    border: 2px solid $darkGrayColor;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    background: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: $whiteColor;
    padding-left: 20px;
    outline: none;
    box-sizing: border-box;

    &::placeholder {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      color: $whiteColor;
    }
  }

  &__button {
    padding: 20px 30px;
    border-radius: 5px;
    background: $greenColor;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: $whiteColor;
    outline: none;
    cursor: pointer;
    border: none;
    width: 100%;

      &:hover {
        background-color: #22764a;
        transition: background-color .3s ease;
      }
  }
}

// adaptive header and hero 

@media screen and (max-width: 1200px) {
  .header {
    &__container {
      width: 90%;
    }
  }
}

@media screen and (max-width: 900px) {
  .header {
    &__navigation-block {
      gap: 45px;
    }

    &__search {
      flex-basis: 200px;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    &__container {
      flex-direction: column;
      align-items: flex-start;
      width: auto;
      left: 0;
      right: 0;
      padding: 0 20px;
      transform: none;
    }

    &__navigation-block {
      flex-direction: column;
      gap: 17px;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 18px;
    }

    &__navigation {
      align-self: inherit;
    }

    &__search {
      flex-basis: 0;
      width: 100%;
    }
  }

  .navigation {
    &__list {
      flex-direction: column;
      gap: 3px;
      align-items: flex-start;
    }

    &__link {
      line-height: 13px;
    }
  }

  .hero {
    &__container {
      padding: 248px 20px 200px;
    }

    &__description {
      margin: 16px 0;
    }
  }

  .form {
    &__group {
      flex-wrap: wrap;
      gap: 0;
    }
  }
}