// colors

$blackColor: #08020D;
$grayColor: #E0E0E0;
$darkGrayColor: #CACACA;
$darkColor: #3C3B3D;
$greenColor: #34C176;
$orangeColor: #F89202;
$purpleColor: #5328A1;
$darkOrangeColor: #95390C;